body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header {
    background: #1f2937;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0px;
    height: 400px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: #e5e7eb;
        font-size: 24px;
        padding-left: 20px;
    }
}

ul {
    color: white;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;

    a {
        text-decoration: none;
    }
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        font-size: 48px;
        color: #f9faf8;
        font-weight: 900;
    }

    p {
        font-size: 18px;
        color: #e5e7eb;
    }

    button {
        color: white;
        background-color: #3882f6;
        padding: 4px;
        border-radius: 5px;
        border: none;
        width: 100px;
        font-weight: 900;
    }

    img {
        max-width: 400px;
        max-height: 200px;
    }
}

.body-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-section-img {
    display: flex;
    align-items: center;

    img {
        width: 200px;
        border: 2px solid #3882f6;
    }
}

figure {
    color: #1f2937;
    font: 26px light italic;
    background-color: #e5e7eb;
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    blockquote {
        width: 800px;
        margin: auto;
    }
}

.sign-up-board {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    flex: 1;
    border-radius: 10px;

    button {}
}

footer {
    color: white;
    background: #1f2937;
    width: 100%;
    text-align: center;
    padding: 30px;
}
